/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* UTILITY */
.d-none {
  display: none;
}

/* GENERAL */
#btn-start {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgb(197, 150, 30), rgb(245, 217, 57), rgb(197, 150, 30));
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
}

#btn-restart {
  margin-top: 50px;
  background: linear-gradient(to bottom right, brown, red, brown);
  color:  white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all .3s;
}

#btn-restart:hover {
  filter: brightness(1.15);
}

#btn-restart.disable {
  pointer-events: none;
  background: grey;
  color: rgb(170, 169, 169)
}

.main-wrapper {
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 50px;
  background: linear-gradient(to right, transparent, white, transparent);
}

#difficulty {
  margin: 30px 0;
  font-size: 1rem;
  border-radius: 10px;
  padding: 3px 5px;
}

#grid-container {
  position: relative;
  width: 800px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  background-color: coral;
  border: 5px outset brown;
}

.square {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  border: 5px outset coral;
  box-shadow: 0 0 2px inset brown;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.clicked {
  background-color: wheat;
  border: 5px inset wheat;
}

.grid49 .square {
  width: calc(100% / 7);
}

.grid81 .square {
  width: calc(100% / 9);
}

.grid100 .square {
  width: calc(100% / 10);
}

.game-end {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 5px black,
              -2px -2px black,
               2px -2px black,
              -2px 2px black;     
}

.game-end.win {
  background-color: rgba(22, 255, 76, 0.2);
  color: yellowgreen;
}

.game-end.lose {
  color: crimson;
  background-color: rgba(255, 0, 0, 0.2);
}